<div class="h-screen flex flex-col bg-lgray">
  <div class="flex-grow w-full bg-lgray pt-16 pb-28">
    <div class="max-w-screen-lg bg-lgray py-5 mx-auto">
      <div class="flex flex-col md:flex-row justify-around bg-lgray">
        <div class="max-w-sm md:max-w-lg bg-lgray pr-8">
          <div class="pt-28 bg-lgray">
            <img class="-my-7" src="/img/fakebook_logo_transparent.png" alt="Fakebook" width="260" heigth="100"/>
          </div>
          <h2 class="text-xll font-medium pb-4">Connect with fake friends and the fake world around you on Fakebook.</h2>
        </div>

        <div class="relative flex flex-col bg-white shadow-lg p-4 rounded-lg w-full max-w-md">
          <%= link_to :back, class: "absolute right-4 flex items-center justify-center py-2 px-2 rounded-full text-black bg-gray-200 hover:bg-gray-300" do %>
            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          <% end %>
          <div class="pb-2.5">
            <div class="text-2xl font-semibold">Sign Up</div>
            <div class="text-sm text-gray-500">It's quick and easy.</div>
          </div>

          <hr class="-mx-4 mb-2 border-gray-300">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <span class="text-red-500 text-xs">
              <%= f.error_notification %>
            </span>
            <div class="form-inputs mt-2">
              <div class="flex flex-row mb-2.5">
                <div class="flex flex-col mr-2">
                  <%= f.input :firstname,
                              required: true,
                              label: false,
                              error: false,
                              autofocus: true,
                              input_html: { placeholder: "First name",
                                            class: "bg-lgray text-black text-sm sm:text-base placeholder-gray-600 pl-4 pr-4 rounded-md border border-gray-300 w-full py-2 focus:placeholder-gray-400 focus:outline-none" } %>
                  <span class="text-red-500 text-xs">
                    <%= f.error :firstname %>
                  </span>
                </div>
                <div class="flex flex-col">
                  <%= f.input :lastname,
                              required: true,
                              label: false,
                              error: false,
                              autofocus: true,
                              input_html: { placeholder: "Last name",
                                            class: "bg-lgray text-black text-sm sm:text-base placeholder-gray-600 pl-4 pr-4 rounded-md border border-gray-300 w-full py-2 focus:placeholder-gray-400 focus:outline-none" } %>
                  <span class="text-red-500 text-xs">
                    <%= f.error :lastname %>
                  </span>
                </div>
              </div>
              <div class="flex flex-col mb-2.5">
                <%= f.input :email,
                            required: true,
                            label: false,
                            error: false,
                            autofocus: true,
                            input_html: { autocomplete: "email",
                                          placeholder: "Email",
                                          class: "bg-lgray text-black text-sm sm:text-base placeholder-gray-600 pl-4 pr-4 rounded-md border border-gray-300 w-full py-2 focus:placeholder-gray-400 focus:outline-none" } %>
                <span class="text-red-500 text-xs">
                  <%= f.error :email %>
                </span>
              </div>
              <div class="flex flex-col mb-2.5 text-red-500 text-xs">
                <%= f.input :password,
                            required: true,
                            label: false,
                            error: false,
                            input_html: { placeholder: "New password",
                                          class: "bg-lgray text-black text-sm sm:text-base placeholder-gray-600 pl-4 pr-4 rounded-md border border-gray-300 w-full py-2 focus:placeholder-gray-400 focus:outline-none" } %>
                <span class="text-red-500 text-xs">
                  <%= f.error :password %>
                </span>
              </div>
              <div class="text-xs text-gray-600 mb-1">
                <%= f.label "Birthday" %>
              </div>
              <div class="flex space-x-3">
                <%= f.input_field :birthdate,
                            required: true,
                            as: :date, 
                            start_year: Date.today.year,
                            end_year: Date.today.year - 90,
                            selected: Date.today,
                            order: [:month, :day, :year],
                            use_short_month: true,
                            class: "flex-1 text-sm sm:text-base bg-white px-2 rounded-md border border-gray-300 py-2 appearance-none" %>
              </div>
              <div class="text-xs text-gray-600 mt-2.5 mb-1">
                <%= f.label "Gender" %>
                <span class="text-red-500 text-xs"><%= f.error :gender %></span>
              </div>
              <%= f.input :gender,
                          required: true,
                          label: false, 
                          error: false, 
                          as: :radio_buttons,
                          collection: User.genders,
                          wrapper_html: { class: 'flex space-x-3 -ml-3' },
                          item_wrapper_class: "flex-1 text-black text-sm sm:text-base bg-white px-2 rounded-md border border-gray-300 py-2", 
                          item_label_class: "flex justify-between items-center capitalize" %>
            </div>

            <div class="text-xs text-gray-400 my-2.5">
              By clicking Sign Up, you agree to our <a href="" class="text-blue-700 hover:underline">Terms</a>. Learn how we collect, use and share your data in our <a href="" class="text-blue-700 hover:underline">Data Policy</a> and how we use cookies and similar technology in our <a href="" class="text-blue-700 hover:underline">Cookies Policy</a>. You may receive SMS Notifications from us and can opt out any time.
            </div>

            <div class="flex justify-center py-2.5">
              <%= f.button :submit, "Sign Up", class: "flex items-center justify-center focus:outline-none text-white text-lg font-bold bg-signupgreen hover:bg-signupgreen rounded py-1 px-14 transition duration-150 ease-in cursor-pointer" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <footer class="w-full bottom-0 bg-white h-1/6">
    <div class="max-w-screen-lg pt-5 mx-auto">
      <div class="flex flex-row pb-2 space-x-2.5 text-xs text-gray-500 border-b border-gray-300">
        <a href="" class="hover:underline">English (US)</a>
        <a href="" class="hover:underline">Italiano</a>
        <a href="" class="hover:underline">Română</a>
        <a href="" class="hover:underline">Français (France)</a>
        <a href="" class="hover:underline">Sardu</a>
        <a href="" class="hover:underline">Deutsch</a>
        <a href="" class="hover:underline">Español</a>
        <a href="" class="hover:underline">العربية</a>
        <a href="" class="hover:underline">Shqip</a>
        <a href="" class="hover:underline">Português (Brasil)</a>
        <a href="" class="hover:underline">हिन्दी</a>
      </div>
      <div class="flex flex-row flex-wrap -ml-5 mr-2 mt-2 space-x-5 text-xs text-gray-500">
        <a href="" class="ml-5 hover:underline">Sign Up</a>
        <a href="" class="hover:underline">Log In</a>
        <a href="" class="hover:underline">Messenger</a>
        <a href="" class="hover:underline">Facebook Lite</a>
        <a href="" class="hover:underline">Watch</a>
        <a href="" class="hover:underline">People</a>
        <a href="" class="hover:underline">Pages</a>
        <a href="" class="hover:underline">Page Categories</a>
        <a href="" class="hover:underline">Places</a>
        <a href="" class="hover:underline">Games</a>
        <a href="" class="hover:underline">Locations</a>
        <a href="" class="hover:underline">Marketplace</a>
        <a href="" class="hover:underline">Facebook Play</a>
        <a href="" class="hover:underline">Groups</a>
        <a href="" class="hover:underline">Jobs</a>
        <a href="" class="hover:underline">Oculus</a>
        <a href="" class="hover:underline">Portal</a>
        <a href="" class="hover:underline">Instagram</a>
        <a href="" class="hover:underline">Local</a>
        <a href="" class="hover:underline">Fundraisers</a>
        <a href="" class="hover:underline">Services</a>
        <a href="" class="hover:underline">Voting Information Center</a>
        <a href="" class="hover:underline">About</a>
        <a href="" class="hover:underline">Create Ad</a>
        <a href="" class="hover:underline">Create Page</a>
        <a href="" class="hover:underline">Developers</a>
        <a href="" class="hover:underline">Careers</a>
        <a href="" class="hover:underline">Privacy</a>
        <a href="" class="hover:underline">Cookies</a>
        <a href="" class="hover:underline">Ad Choices</a>
        <a href="" class="hover:underline">Terms</a>
        <a href="" class="hover:underline">Help</a>
      </div>
      <a href="https://github.com/Pandenok/fakebook" class="flex text-xs text-gray-500 mt-5 hover:underline cursor-pointer">
        Fakebook by Pandenok &copy 2020
      </a>
    </div>
  </footer>
</div>