<div style="width: 40%">
   <%= link_to posts_url(host: 'localhost:3000', controller: 'post', action: 'index'), style: "display: flex; align-items: center; margin: 10px 0 0px 10px; text-decoration: none" do %>
    <%= image_tag attachments['fakebook_logo_transparent.png'].url, style: "widht:100px; height:100px", alt: "Fakebook logo" %>
  <% end %>

  <hr style="margin: 10px 10px; border-color: #F5F5F5"/>

  <p style="margin: 20px 0 0 10px">
    Hi <%= @user.firstname %>,
  </p>

  <p style="margin: 20px 0 0 10px">
    Your account has been created - now it will be easier than ever to share and connect with your fake friends and fake family.
  </p>

  <p style="margin: 10px 0 15px 10px; font-weight: bold;">
    Here are three ways for you to get most out of it:
  </p>

  <div style="margin: 0 0 30px 10px; padding: 15px 0 15px 15px; border: 1px solid #E0E0E0;">
    <%= link_to users_url(host: 'localhost:3000', controller: 'user', action: 'index'), style: "display: flex; align-items: center; margin: 0 0 0 0px; text-decoration: none" do %>
      <svg width="30" heigth="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <g><g transform="translate(0.000000,505.000000) scale(0.100000,-0.100000)"><path d="M3722.1,4890.4c-816-90.4-1362.6-531.2-1537.7-1233.7c-103.9-413.8-98.2-858.4,19.2-1456.9l40.4-200.2l-55.8-107.8c-50-98.2-53.9-125.1-53.9-319.5c0-165.5,9.6-242.5,42.3-348.4c48.1-150.1,152-306,246.3-367.6c50-34.6,67.4-63.5,102-200.2c52-194.4,225.2-554.3,321.4-665.9l67.4-78.9v-325.3c0-381.1-15.4-427.2-169.4-567.8c-130.9-115.5-342.6-223.2-869.9-438.8c-712.1-288.7-1000.8-456.1-1279.8-741c-300.2-304.1-435-633.2-483.1-1168.2L100-3479.6h2580.9c1418.4,0,2580.9,3.9,2580.9,7.7c0,3.8-38.5,53.9-84.7,107.8c-46.2,53.9-105.8,136.6-129,184.8l-46.2,84.7H2775.2c-2153.6,0-2228.7,1.9-2228.7,34.6c0,130.9,159.7,440.7,317.6,614c202.1,225.2,504.2,394.5,1202.9,679.4c238.6,98.2,485,204,548.5,234.8c307.9,154,529.3,354.1,629.3,565.8c55.8,117.4,55.8,121.3,67.4,598.5l11.5,481.2l-77,44.3c-155.9,86.6-342.6,485-390.7,827.6c-11.5,78.9-30.8,150.1-44.3,157.8c-11.5,7.7-50,15.4-84.7,15.4c-38.5,0-77,15.4-102,42.3c-55.8,59.7-103.9,232.9-103.9,377.2c-1.9,113.6,1.9,127,57.7,177.1c32.7,28.9,71.2,55.8,86.6,61.6c19.2,5.8,11.6,67.4-36.6,286.8c-100.1,454.2-109.7,527.3-109.7,912.3c0,413.8,23.1,550.4,136.7,792.9c88.5,186.7,194.4,313.7,356,427.3c252.1,177.1,610.1,273.3,1031.6,273.3c408,0,650.5-88.5,746.7-271.4c21.2-40.4,48.1-52,155.9-73.1c504.2-92.4,721.7-463.8,694.8-1177.9c-13.5-344.5-57.7-592.8-175.1-991.2l-44.3-152l75.1-55.8c92.4-67.4,117.4-129,103.9-257.9c-27-231-107.8-371.4-211.7-371.4c-92.4,0-109.7-23.1-129-175.1c-42.3-315.6-240.6-750.6-377.2-831.4l-67.4-38.5l7.7-492.7l7.7-492.7l52-103.9c28.9-57.7,80.8-136.7,111.6-179l59.7-75l115.5,177.1c109.7,169.4,111.6,177,82.8,223.2c-25,36.6-32.7,121.2-42.3,379.1l-11.5,332.9l90.4,127c113.6,157.8,250.2,448.4,302.2,642.8c36.6,134.7,50,159.7,134.7,234.8c177.1,155.9,277.1,435,263.7,733.3c-5.8,129-19.2,184.8-59.7,265.6l-50,102l46.2,196.3c217.5,904.6,132.8,1622.4-238.6,2018.9c-132.8,142.4-306,252.1-492.7,307.9c-96.2,28.9-159.7,63.5-227.1,123.2C4724.8,4851.9,4247.5,4950.1,3722.1,4890.4z"/><path d="M6955.4-152C5908.4-273.3,5127-1254.8,5242.5-2299.9c73.1-671.7,444.6-1227.9,1027.7-1537.7c675.5-359.9,1460.8-307.9,2080.5,134.7l96.2,69.3l587-587l587-587l140.5,138.6l138.6,140.5l-587,587l-587,587l69.3,96.2c307.9,431.1,433,970,344.5,1480C8987.7-906.4,8289.1-250.2,7407.7-150.1C7213.3-128.9,7159.4-128.9,6955.4-152z M7625.1-590.8c469.6-136.7,881.5-510,1041.2-945c98.1-263.7,127-598.5,78.9-869.9c-92.4-508.1-485-977.7-977.7-1168.2c-192.5-73.1-346.4-100.1-581.2-100.1c-600.5,1.9-1125.9,331-1403,881.5c-184.8,371.4-206,879.5-48.1,1264.5c198.2,490.8,619.7,848.7,1133.6,962.3C7057.4-523.4,7434.6-536.9,7625.1-590.8z"/></g></g>
      </svg>
      <div style="padding-left: 10px;">
        <div style="color: #4d6499;">Find people you know</div>
        <div style="color: #808080; font-size: 12px">Find friends and family on Fakebook using our simple tools.</div>
      </div>
    <% end %>
    <%= link_to user_url(@user, host: 'localhost:3000', controller: 'user', action: 'show'), style: "display: flex; align-items: center; margin: 20px 0 0 0px; text-decoration: none" do %>
      <svg width="30" heigth="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M6412.6,4653.5c-746-187.6-2423.5-604.8-3728-927c-1304.5-324.5-2399.2-607-2434.6-626.9c-90.5-53-150.1-158.9-150.1-264.9c0-99.3,57.4-333.3,803.4-3343.9c286.9-1149.9,536.4-2116.7,556.2-2147.6c48.5-72.8,185.4-141.3,278.1-139.1c39.7,0,401.7,81.7,801.2,181l728.4,183.2l6.6,355.4l4.4,355.4l-640.1-161.1c-439.2-110.4-646.7-152.3-653.3-134.6c-4.4,13.2-147.9,584.9-315.6,1271.3c-170,686.5-423.8,1708.4-565,2271.2c-147.9,591.5-247.2,1030.8-234,1037.4c11,8.8,198.7,57.4,415,110.4c216.3,53,1708.4,423.8,3315.2,821.1c1604.6,399.5,2929,726.2,2937.8,726.2s64-185.4,119.2-412.8C8134.2,1841.5,8650.7-184.7,8708.1-315c35.3-83.9,66.2-172.2,66.2-192c0-35.3,30.9-39.7,331.1-39.7c183.2,0,331.1,4.4,331.1,8.8c0,6.6-150.1,613.6-333.3,1353c-181,737.2-474.6,1922.5-648.9,2633.2c-176.6,710.7-335.5,1324.3-357.6,1364c-41.9,83.9-141.3,150.1-249.4,167.8C7789.9,4989,7412.5,4902.9,6412.6,4653.5z"/><path d="M5057.4,1700.2c-92.7-271.5-260.4-759.3-373-1088.1l-203.1-596l-77.3-4.4c-966.8-68.4-1666.4-403.9-1920.3-918.2c-64-130.2-97.1-231.8-114.8-362c-15.4-99.3-19.9-187.6-11-196.4c11-11,498.8,101.5,920.4,211.9c61.8,17.7,88.3,44.1,132.4,125.8c88.3,167.7,267.1,344.3,441.4,434.8c218.5,114.8,386.3,145.7,818.9,145.7h368.6l24.3,101.5c99.3,388.5,395.1,724,728.4,825.5c139.1,44.1,196.4,44.1,1090.3,39.7c518.7-4.4,942.5-4.4,942.5,0c0,17.7-909.4,1428.1-922.6,1434.7c-8.8,2.2-90.5-178.8-181-403.9c-141.3-355.4-167.7-403.9-196.5-379.6c-33.1,26.5-1156.6,993.2-1251.5,1079.3l-46.4,41.9L5057.4,1700.2z"/><path d="M2775.1,2135.1c-227.3-64-410.5-242.8-470.1-463.5c-35.3-125.8-13.2-357.6,41.9-465.7c75.1-145.7,152.3-222.9,295.8-293.6c240.6-121.4,534.1-86.1,732.8,88.3c289.1,256,300.2,712.9,19.9,971.2C3216.6,2135.1,2993.7,2194.7,2775.1,2135.1z"/><path d="M5792.4-81c-108.2-72.9-165.5-141.3-238.4-286.9c-59.6-117-134.6-399.5-134.6-512.1v-81.7l-578.3-8.8c-622.4-11-679.8-19.9-863-141.2c-99.3-66.2-207.5-209.7-236.2-315.6c-13.2-48.6-22.1-644.5-22.1-1487.7c-2.2-1397.2-2.2-1406,46.4-1516.3c28.7-64,86.1-145.7,139-189.8c174.4-150.1,35.3-143.5,2917.9-136.9l2602.3,6.6l125.8,61.8c147.9,72.8,286.9,218.5,322.2,342.1c19.9,61.8,26.5,474.6,26.5,1476.6c0,1558.3,4.4,1509.7-158.9,1695.1c-167.7,189.8-196.4,196.5-792.4,205.3l-523.1,8.8l-15.5,119.2c-17.7,154.5-99.3,395.1-172.2,509.9c-77.2,121.4-238.4,258.2-342.1,289.1C7834.1-25.8,7520.6-17,6849.6-17h-960.1L5792.4-81z M7213.8-1535.5c229.6-77.3,397.3-189.8,565.1-370.8c487.8-531.9,467.9-1326.5-41.9-1843c-613.6-622.4-1617.9-514.3-2096.8,222.9c-147.9,229.6-187.6,384.1-187.6,717.3c0,346.5,41.9,496.6,214.1,752.7c209.7,313.4,556.2,531.9,933.6,591.5C6756.9-1440.6,7032.8-1471.5,7213.8-1535.5z M8917.8-1747.4c88.3-37.5,165.5-150.1,165.5-245c0-139.1-139-275.9-280.3-275.9c-130.2,0-271.5,145.7-271.5,280.3c0,72.8,79.5,189.8,156.7,231.8C8778.7-1707.7,8818.5-1707.7,8917.8-1747.4z"/><path d="M6511.9-1857.8c-518.7-165.5-816.7-682-684.2-1189.7c46.3-178.8,110.4-291.4,238.4-430.4c485.6-512.1,1295.6-384.1,1609.1,256c70.6,141.3,72.8,156.7,72.8,412.7c0,251.6-4.4,271.5-68.4,408.3c-174.4,364.2-509.9,576.1-909.4,571.7C6675.3-1829.1,6560.5-1842.3,6511.9-1857.8z"/></g></g>
      </svg>
      <div style="padding-left: 10px;">
        <div style="color: #4d6499;">Upload a Profile photo</div>
        <div style="color: #808080; font-size: 12px">Personalize your profile and help your friends recognise you.</div>
      </div>
    <% end %>
    <%= link_to user_url(@user, host: 'localhost:3000', controller: 'user', action: 'show'), style: "display: flex; align-items: center; margin: 20px 0 0 0px; text-decoration: none" do %>
      <svg width="30" heigth="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <g><path d="M861,575.1L552.1,884l22,22.1l309-308.9L861,575.1z M766.2,490.2l-27-27L435.3,767.2l-21.2,159.6l162.6-18.2l-2.5-2.4L462.2,794.2L766.2,490.2z M850.3,350.7l0.8-4.8L775.6,424l28.4,27l13.9-13.2l90.3,89.9l-13,13.2l22.2,21.6l13.2-13.6h0l27-26.1v0l11.1-11.7h0l21.3-26.7L850.3,350.7z M935.4,500.7l-89.8-89.9l11.1-11.2l89.9,89.9L935.4,500.7z M349,604.2c60.1,0,115.3,19.8,162.4,49.8l29.7-26.1c-54.8-37.3-120.7-62.4-192.1-62.4c-172.2,0-314.4,138.2-339,289.4h324.2c11.3,0,24.3,0,38.7-37.8H57.8C95.9,703.7,211.6,604.2,349,604.2z M351.8,530.8c126.3,0,228.8-102.4,228.8-228.8c0-126.3-102.4-228.8-228.8-228.8C225.5,73.2,123,175.7,123,302C123,428.3,225.5,530.8,351.8,530.8z M351.8,111.3c105.3,0,190.6,85.4,190.6,190.7c0,105.3-85.4,190.7-190.6,190.7c-105.3,0-190.7-85.4-190.7-190.7C161.2,196.7,246.5,111.3,351.8,111.3z"/></g>
      </svg>
      <div style="padding-left: 10px;">
        <div style="color: #4d6499;">Edit your Profile</div>
        <div style="color: #808080; font-size: 12px">Describe personal interests, contact information and affiliations.</div>
      </div>
    <% end %>
  </div>

  <%= link_to "Get Started", posts_url(host: 'localhost:3000', controller: 'post', action: 'index'), style: "margin: 0 10px; padding: 10px 15px; background: #1877f2; border-style: none; color: #FFFFFF; font-size: 12px; font-weight: bold; text-decoration: none" %>

  <p style="margin: 30px 0 0 10px">
    Thanks,<br/>
    The Fakebook Team
  </p>

  <hr style="margin: 50px 10px 10px 10px; border-color: #F5F5F5"/>

  <div style="margin-left: 10px; color: #808080; font-size: 12px">
    This message was sent to <%= @user.email %>. If you don't want to receive these emails from Fakebook in future you're doomed.<br/>
    Fakebook, Inc., Attention: Community Support, 1 Hacker Way, Menlo Park, CA 94025
  </div>
</div>