<% if post.comments.any? %>
  <% post.comments.order('created_at ASC').each do |comment| %>
    <div class="flex w-full mt-2.5">
      <%= link_to user_path(comment.user_id), class: "flex-none" do %>
        <%= image_tag avatar_for(User.find(comment.user_id), 32), class: "inline object-cover w-8 h-8 mr-2.5 border rounded-full" %>
      <% end %>
      <%= content_tag :div, class: "flex text-base", id: dom_id(comment) do %>      
        <%= render comment %>
      <% end %>
      <% if comment.user_id == current_user.id %>
        <div class="dropdown self-center inline-block relative">
          <button class="hover:bg-gray-100 py-2 px-2 rounded-full">
            <svg class="inline w-6 h-6 text-secondarygray fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg>
          </button>
          <div class="dropdown-menu hidden absolute overflow-visible -right-28 z-10 w-64 py-2 bg-white rounded-lg border shadow-xl">
            <%= link_to "Edit", edit_post_comment_path(post, comment),
                        remote: true,
                        class: "block mx-2 px-2 py-2 rounded-md hover:bg-lgray" %>
            <%= link_to "Delete", post_comment_path(post, comment),
                        method: :delete,
                        class: "block mx-2 px-2 py-2 rounded-md hover:bg-lgray",
                        data: { confirm: "Are you sure you want to delete this comment?" } %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-xs ml-14 mt-1 font-medium text-secondarygray">
      <%= time_ago_in_words(comment.created_at) %>
    </div>
  <% end %>
<% end %>