<p class="mx-2 px-2 text-2xl text-black font-bold">Notifications</p>
<% current_user.notifications.unseen.recent.each do |notification| %>
  <% if notification.action == "liked" || notification.action == "commented" %>
    <%= link_to post_path(id: notification.notifiable_id, notification_id: notification.id), class: "flex block mx-2 px-2 py-2 rounded-md hover:bg-gray-100" do %>
      <div class="flex">
        <%= image_tag avatar_for(notification.sent_by, 56), class: "inline object-cover w-14 h-14 mr-2.5 border rounded-full" %>
      </div>
      <div class="flex flex-1 flex-col justify-center">
        <div class="text-base text-black font-semibold">
          <%= notification.sent_by.firstname + ' ' + notification.sent_by.lastname %>
        </div>
        <div class="text-sm font-normal text-secondarygray">
          <%= notification.action %> your <%= notification.notifiable_type.downcase %>
        </div>
        <div class="text-xs font-semibold text-lblue">
          <%= time_ago_in_words(notification.created_at) %> ago
        </div>
      </div>
    <% end %> 
  <% end %> 
  <% if notification.action == "sent" || notification.action == "accepted" || notification.action == "rejected" %>
    <%= link_to user_path(id: notification.sent_by, notification_id: notification.id), class:"flex block mx-2 px-2 py-2 rounded-md hover:bg-gray-100" do %>
      <div class="flex">
        <%= image_tag avatar_for(notification.sent_by, 56), class: "inline object-cover w-14 h-14 mr-2.5 border rounded-full" %>
      </div>
      <div class="flex flex-1 flex-col justify-center">
        <div class="text-base text-black font-semibold">
          <%= notification.sent_by.firstname + ' ' + notification.sent_by.lastname %>
        </div>
          <div class="text-sm font-normal text-secondarygray">
            <%= notification.action %>
              <% if notification.action == 'sent' %>
                you a 
              <% else %>
                your
              <% end %>
            <%= notification.notifiable_type.underscore.humanize.downcase%>
          </div>
        <div class="text-xs font-semibold text-lblue">
          <%= time_ago_in_words(notification.created_at) %> ago
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>