<div class="flex flex-col w-full mb-4 px-4 py-2 bg-white border border-gray-200 min-w-xs overflow-hidden rounded-lg shadow">
  <div class="text-xl font-semibold">
    Friends
  </div>
  <div class="text-secondarygray">
    <% if current_user.mutual_friends_with(@user).any? && current_user != @user %>
      <%= @user.friends.count %> (<%= current_user.mutual_friends_with(@user).count %> mutual)
    <% else %>
      <%= pluralize(@user.friends.count, "friend") %>
    <% end %>
  </div>
  <div class="flex flex-wrap -mx-2 my-2">
    <% @user.friends.each do |friend| %>
      <div class="w-1/3 h-1/3 px-1.5">
        <%= link_to user_path(friend) do %>
          <%= image_tag avatar_for(friend, 100), class: "inline object-contain w-full h-full border rounded-lg" %>
          <span class="text-sm leading-3 tracking-tight font-semibold hover:underline">
            <%= friend.fullname %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>