<h1 class="mx-2 px-2 py-1 text-base text-black font-semibold">People You May Know</h1>
<% @users.each do |user| %>
  <div class="mx-2 px-2 py-2 rounded-lg hover:bg-lgray">
    <div class="flex">
      <%= link_to user_path(user), remote: true do %>
        <div class="flex">
          <%= image_tag avatar_for(user, 56), class: "inline object-cover w-14 h-14 mr-3 border rounded-full" %>
        </div>
        <div class="flex flex-1 flex-col">
          <div class="mb-1 text-base font-semibold">
            <%= user.fullname %>
          </div>
          <div class="mb-1 text-xs font-normal text-secondarygray">
            <% if current_user.mutual_friends_with(user).any? %>
              <%= render partial: 'mutual_friends_list', locals: { user: user } %>
            <% else %>
              No mutual friends
            <% end %>
          </div>
          <div class="flex -ml-2 pt-1.5 space-x-2">
            <%= link_to "Add Friend", friend_requests_path(friend_id: user.id), method: :post, class: "flex-1 py-2 bg-lblue text-white text-sm text-center font-semibold rounded-md" %>
            <button class="flex-1 py-2 bg-gray-200 text-sm text-center font-semibold rounded-md hover:bg-gray-300 cursor-not-allowed" disabled>
              <span class="font-semibold">Remove</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>