<div class="h-screen flex flex-col bg-lgray">
  <div class="flex-grow w-full bg-lgray pt-16 pb-28">
    <div class="max-w-screen-lg bg-lgray py-5 mx-auto">
      <div class="flex flex-col md:flex-row justify-around bg-lgray">
        <div class="max-w-sm md:max-w-lg bg-lgray pr-8">
          <div class="pt-28 bg-lgray">
            <img class="-my-7" src="/img/fakebook_logo_transparent.png" alt="Fakebook" width="260" heigth="100"/>
          </div>
          <h2 class="text-xll font-medium pb-4">Connect with friends and the world around you on Fakebook.</h2>
        </div>

        <div class="flex flex-col bg-white shadow-lg px-4 py-8 rounded-lg w-full max-w-sm">
          <%= link_to "Login with real Facebook", user_facebook_omniauth_authorize_path, class: "border rounded-md py-2 text-sm text-gray-800 text-center bg-gray-100 hover:bg-gray-200 transition duration-150 ease-in" %>
          <div class="relative mt-10 h-px bg-gray-300">
            <div class="absolute left-0 top-0 flex justify-center w-full -mt-2">
              <span class="bg-white px-4 text-xs text-gray-500 uppercase">Or Login With Email</span>
            </div>
          </div>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs flex flex-col mt-10 space-y-4 mb-4">
              <%= f.input :email,
                          required: true,
                          label: false,
                          autofocus: true,
                          input_html: { autocomplete: "email",
                                        placeholder: "Email",
                                        class: "text-sm sm:text-base placeholder-gray-500 pl-4 pr-4 rounded-lg border border-gray-300 w-full py-3 focus:outline-none focus:border-blue-400 focus:shadow-md" } %>
              <%= f.input :password,
                          required: true,
                          label: false,
                          input_html: { autocomplete: "current-password",
                                        placeholder: "Password",
                                        class: "text-sm sm:text-base placeholder-gray-500 pl-4 pr-4 rounded-lg border border-gray-300 w-full py-3 focus:outline-none focus:border-blue-400 focus:shadow-md" } %>
              <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "flex items-center justify-center focus:outline-none text-white text-xl sm:text-xl font-extrabold bg-lblue hover:bg-bluehover rounded py-3 rounded-lg w-full transition duration-150 ease-in cursor-pointer" %>
            </div>
          <% end %>

          <div class="flex justify-center mb-3 mt-4">
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: "inline-flex text-xs sm:text-sm text-blue-500 hover:underline" %>
          </div>

          <div class="relative mt-2 h-px bg-gray-300 mb-8"></div>

          <div class="flex justify-center">
            <%= link_to "Create New Account", new_user_registration_path, class: "flex md:w-auto items-center justify-center focus:outline-none text-white text-sm sm:text-base font-bold bg-lgreen hover:bg-greenhover rounded py-3 px-4 transition duration-150 ease-in" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="w-full bottom-0 bg-white h-1/6">
    <div class="max-w-screen-lg pt-5 mx-auto">
      <div class="flex flex-row pb-2 space-x-2.5 text-xs text-gray-500 border-b border-gray-300">
        <a href="" class="hover:underline">English (US)</a>
        <a href="" class="hover:underline">Italiano</a>
        <a href="" class="hover:underline">Română</a>
        <a href="" class="hover:underline">Français (France)</a>
        <a href="" class="hover:underline">Sardu</a>
        <a href="" class="hover:underline">Deutsch</a>
        <a href="" class="hover:underline">Español</a>
        <a href="" class="hover:underline">العربية</a>
        <a href="" class="hover:underline">Shqip</a>
        <a href="" class="hover:underline">Português (Brasil)</a>
        <a href="" class="hover:underline">हिन्दी</a>
      </div>
      <div class="flex flex-row flex-wrap -ml-5 mr-2 mt-2 space-x-5 text-xs text-gray-500">
        <a href="" class="ml-5 hover:underline">Sign Up</a>
        <a href="" class="hover:underline">Log In</a>
        <a href="" class="hover:underline">Messenger</a>
        <a href="" class="hover:underline">Facebook Lite</a>
        <a href="" class="hover:underline">Watch</a>
        <a href="" class="hover:underline">People</a>
        <a href="" class="hover:underline">Pages</a>
        <a href="" class="hover:underline">Page Categories</a>
        <a href="" class="hover:underline">Places</a>
        <a href="" class="hover:underline">Games</a>
        <a href="" class="hover:underline">Locations</a>
        <a href="" class="hover:underline">Marketplace</a>
        <a href="" class="hover:underline">Facebook Play</a>
        <a href="" class="hover:underline">Groups</a>
        <a href="" class="hover:underline">Jobs</a>
        <a href="" class="hover:underline">Oculus</a>
        <a href="" class="hover:underline">Portal</a>
        <a href="" class="hover:underline">Instagram</a>
        <a href="" class="hover:underline">Local</a>
        <a href="" class="hover:underline">Fundraisers</a>
        <a href="" class="hover:underline">Services</a>
        <a href="" class="hover:underline">Voting Information Center</a>
        <a href="" class="hover:underline">About</a>
        <a href="" class="hover:underline">Create Ad</a>
        <a href="" class="hover:underline">Create Page</a>
        <a href="" class="hover:underline">Developers</a>
        <a href="" class="hover:underline">Careers</a>
        <a href="" class="hover:underline">Privacy</a>
        <a href="" class="hover:underline">Cookies</a>
        <a href="" class="hover:underline">Ad Choices</a>
        <a href="" class="hover:underline">Terms</a>
        <a href="" class="hover:underline">Help</a>
      </div>
      <div class="flex text-xs text-gray-500 mt-5">
        Fakebook by Pandenok &copy 2020
      </div>
    </div>
  </footer>
</div>


