<div class="flex flex-wrap -mx-4 mb-2">
  <% if post.images.count.odd? && post.images.count < 5 %>
    <% post.images.each_with_index do |image, idx| %>
      <% if idx == 0 %>
        <%= link_to image_tag(post.images.first.variant(resize: "350x350"), class: "w-full object-fill"), image, class: "w-full" %>
      <% else %>
        <div class="w-1/2">
          <%= link_to image_tag(image.variant(resize: "350x350"), class: "w-full h-full object-fill border-2"), image, class: "w-full" %>
        </div>
      <% end %>
    <% end %>
  <% elsif post.images.count.even? && post.images.count < 5 %>
    <% post.images.each do |image| %>
      <div class="w-1/2">
        <%= link_to image_tag(image.variant(resize: "350x350"), class: "w-full h-full object-fill border-2"), image, class: "w-full" %>
      </div>
    <% end %>
  <% else %>
    <% post.images.each_with_index do |image, idx| %>
      <% if idx > 1 %>
        <div class="w-1/3">
          <%= link_to image_tag(image.variant(resize: "350x350"), class: "w-full h-full object-fill border-2"), image, class: "w-full" %>
        </div>
      <% else %>
        <div class="w-1/2">
          <%= link_to image_tag(image.variant(resize: "350x350"), class: "w-full h-full object-fill border-2"), image, class: "w-full" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>